{% extends "base.html" %}

{% block title %}profile{% endblock %}

{% if next %}
    {% if user.is_authenticated %}
        <p>您的账号无权访问此页面,请使用其它账号</p>
    {% else %}
        <p>访问该页面需要登录</p>
    {% endif %}
{% endif %}

{% block content %}
    <p class="lead">个人信息</p>
    <div class="form-group">
        <form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-hover">
                <tr>
                    <th>用户名:</th>
                    <td align="left">&nbsp;&nbsp;&nbsp;{{ username }}</td>
                </tr>
                <tr>
                    <th>邮箱:</th>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <th>性别:</th>
                    <td>{{ form.gender }}</td>
                </tr>
                <tr>
                    <th>手机号:</th>
                    <td>{{ form.phone }}</td>
                </tr>
                <tr>
                    <th>身份证号:</th>
                    <td>{{ form.id_number }}</td>
                </tr>
                <tr>
                    <th>头像:</th>
                    <td>
                        {{ form.head_image }}
                    </td>
                </tr>
                {% if head_image_file %}
                    <tr>
                        <th></th>
                        <td>
                            <img src="/media/{{ head_image_file }}" align="left"
                                 class="img-thumbnail" alt="210x150"
                                 data-holder-rendered="true" style="width: 150px; height: 210px;">
                        </td>
                    </tr>
                {% endif %}
            </table>
            <input class="btn btn-default" type="submit" value="保存修改"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        <hr />
        {% if registrations %}
            <table class="table">
                {% for registration in registrations %}
                    <tr>
                        <th>{{ registration.exam }}</th>
                        <td align="right">
                            <form action="{% url 'print_registration_form' %}" method="get" target="_blank">
                                {% csrf_token %}
                                <input hidden="hidden" maxlength="30" name="exam_number" type="text"
                                       value="{{ registration.exam_number }}">
                                <input class="btn btn-default" type="submit" value="打印报名表" name="submit"/>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

    </div>
    {% if user.is_superuser %}
        <p><a href="/admin">跳转到管理页面</a></p>
    {% endif %}
{% endblock content %}
