<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title and content %}  {# 允许在程序中动态的渲染页面(要求同时提供title和content) #}
        <title>{{ title }}</title>
    {% else %}
        <title>{% block title %}title{% endblock %}</title>
    {% endif %}
    {% load staticfiles %}
    <link rel="stylesheet" media="screen" href="/static/bootstrap/css/bootstrap.min.css">
    {% block headItems %}{% endblock %}
    <style>
        body {
            padding-top: 50px;
        }

        .content {
            padding: 40px 80px;
            text-align: center;
        }
    </style>
</head>

<body>
{% block navBar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">网上考试报名系统</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'examinations' %}">考试介绍</a></li>
                    <li><a href="{% url 'begin_registration' %}">网上报名</a></li>
                    <li><a href="{% url 'guide' %}">报名流程</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}">登出</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">登录 / 注册</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock navBar %}

{% block beforeContanier %}{% endblock %}
<div class="container">
    {% if title and content %}  {# 允许在程序中动态的渲染页面(要求同时提供title和content) #}
        <div class="content">
            {{ content|safe }}
        </div>
    {% else %}
        <div class="content">
            {% block beforeContent %}{% endblock %}
            {% block content %}
                <h1>网上考试报名系统</h1>
                <p class="lead">计算机学院(191132)</p>
                <h4><a href="http://blog.csdn.net/u013390476" target="_blank">詹才韬</a></h4>
                <h4><a href="https://github.com/sssoa/ExamWebRegister" target="_blank">王冬冬</a></h4>
                <h4><a href="http://www.lx2hs.com/article.aspx?id=7597" target="_blank">余宗福</a></h4>
            {% endblock content %}
            {% block afterContent %}{% endblock %}
        </div>
    {% endif %}
</div>
{% block afterContanier %}{% endblock %}


<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>