{% extends "base.html" %}

{% block title %}guide{% endblock %}

{% block content %}
{% autoescape off %}
<h1>报名流程</h1>
<hr />
<p class="lead" align="left">1、一般程序 ：</p>
<p align="left">
    {{ indent }}登录通行证　如无帐号请注册 ; 如有帐号则可重复使用 ; 如忘记帐号或密码则均可找回。<br>
    {{ indent }}所有考生报考须登录唯一的报考网站：115.28.78.229进行网上报名，取得网上报名号后携报名表前往缴费点进行现场缴费确认。
    报名缴费点为：地大教务处，详细报名点信息可在网站查询。当在网上查询到报名状态为"报名已完成"时方为报名完成。<br>
    {{ indent }}登录后可查看报考流程与状态。
</p>
<p class="lead" align="left">2、电子照片的要求</p>
<p align="left">
    {{ indent }}所有考生在进行上网报名时须上传符合要求的电子照片，具体要求如下：<br>
    {{ larger_indent }}（1）照片宽与高的比例为2:3；宽不小于140像素、高不小于210像素。<br>
    {{ larger_indent }}（2）照片底色须为蓝色、红色或白色。<br>
    {{ larger_indent }}（3）照片须为*.jpg格式(jpg为小写字母)<br>
    {{ larger_indent }}（4）照片文件容量大小不大于100KB<br>
    {{ larger_indent }}（5）须为显示近期、免冠、正面的证照相。<br>
    {{ larger_indent }}（6）成像须自然、清晰。不可由低尺寸（低分辨率）照片拉大；不可由其它照片"扣图"粘贴。<br>
    {{ larger_indent }}（7）头部高度占照片高度的比例不低于1/2。<br>
    {{ larger_indent }}（8）长刘海或长发者须整理好头发勿遮挡五官。<br>
    {{ indent }}一般由照相馆拍摄的证件照可满足上述画面要求，考生也可以前往软件考试服务中心进行现场照片采集。<br>
</p>
<p class="lead" align="left">3、打印准考证的要求</p>
<p align="left">
    {{ indent }}完成网上报名的考生请于对应考试科目考试时间前一周，登录115.28.78.229按系统提示的要求进行准考证打印。
    考生须持准考证及身份证参加考试。
</p>
<p class="lead" align="left">4、关于网上报名号</p>
<p align="left">
    {{ indent }}如遇填写或上传照片出错，可在正式缴费前重复提交报名表获得网上报名号，但有且仅有一个网上报名号用于报名的缴费确认。
</p>
<hr />
<p class="lead" align="left">备注</p>
<p align="left">
    {{ indent }}因以下原因，所缴纳考试费用不予退返：<br>
    {{ larger_indent }}(1) 填报不真实（或错误）的报名信息，导致考生被取消考试资格，或无法完成考试的；<br>
    {{ larger_indent }}(2) 上传照片不符合要求并未在报名截止期前更改，导致考生被取消考试资格，或无法完成考试的；<br>
    {{ larger_indent }}(3) 未按要求打印准考证，导致考生被取消考试资格，或无法完成考试的；<br>
    {{ larger_indent }}(4) 报名缴费后，缴费状态为“已完成”（无论照片审核状态是否为“已完成”）后希望更换考试科目或取消考试的；<br>
    {{ larger_indent }}(5) 重复报名的；<br>
    {{ larger_indent }}(6) 其它非常规情况；<br>
</p>
{% endautoescape %}
{% endblock content %}
