{% extends 'base.html' %}

{% block title %}examinations{% endblock %}

{% block beforeContanier %}
    <div class="jumbotron">
        <div class="container">
            <h1 align="center">考试介绍</h1>
            <p align="center">以下为所有能够报名的考试</p>
            <p align="center"><a class="btn btn-primary btn-lg"
                  href="{% url 'begin_registration' %}" role="button">报名 »</a></p>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock content %}

{% block afterContent %}
    <div class="row">
        {% for exam in exams %}
            <div class="col-md-4">
                <h4>{{ exam.subject }}</h4>
                <p>{{ exam.notes }}</p>
            </div>
            {% if forloop.counter|divisibleby:3 %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}