{% extends 'base.html' %}

{% block title %}fill_registration_form{% endblock %}

{% block content %}
    <p class="lead">请填写并确认报名表</p>
    <div class="form-group">
        <form method="post" action="{% url 'save_registration_form' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-hover">
                <tr>
                    <th>用户名:</th>
                    <td align="left">&nbsp;&nbsp;&nbsp;{{ username }}</td>
                </tr>
                {% if head_image_file %}
                    <tr><th></th>
                        <td>
                            <img src="/media/{{ head_image_file }}" align="left"
                                 class="img-thumbnail" alt="210x150"
                                 data-holder-rendered="true" style="width: 150px; height: 210px;">
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>考试项目:</th>
                    <td align="left">&nbsp;&nbsp;&nbsp;{{ examination }}</td>
                </tr>
                <tr>
                    <th>考试地点:</th>
                    <td align="left">&nbsp;&nbsp;&nbsp;{{ place }}</td>
                </tr>
                <input maxlength="254" name="username" type="text" value="{{ username }}" hidden="hidden">
                <input maxlength="30" name="examination" type="text" value="{{ examination }}" hidden="hidden">
                <input maxlength="32" name="place" type="text" value="{{ place }}" hidden="hidden">
                {{ form.as_table }}
            </table>
            <input class="btn btn-default" type="submit" value="确定"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
{% endblock content %}