<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ student.username }}的{{ exam.subject }}考试报名表</title>
</head>

<body style="background-color:#FFF;">

<table width="620" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td><table width="100%%" border="0" cellspacing="0" cellpadding="0" class="table_line1" style="border:1px #666 solid;">
      <tbody><tr>
        <td height="30" colspan="4" align="center"><strong class="black105">全国 {{ exam.subject }}考试 报名表</strong></td>
      </tr>
      <tr>
        <td height="50" colspan="4" align="left" style="padding:10pt;">注：本报名表须统一使用<span class="red9">A4幅面</span>打印纸打印(自行打印，黑白彩色均可)。电子照片暂未提交或未被审核时也可缴费，但务必应在报考截止期前完成上传电子照片。</td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">考试报名号：</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2" class="red105"><strong>{{ exam_number }}</strong></td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">姓名：</td>
        <td width="30" height="30">&nbsp;</td>
        <td width="270" height="30">{{ student.username }}</td>
        <td width="100" rowspan="7" align="center">
        <img src="/media/{{ student.head_image }}" align="left" class="img-thumbnail" alt="210x150"
                                 data-holder-rendered="true" style="width: 150px; height: 210px;">
  </td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">性别：</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30">{{ student.gender }}</td>
        </tr>
      <tr>
        <td width="170" height="30" align="right">身份证：</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30">{{ student.id_number }}</td>
        </tr>
      <tr>
        <td width="170" height="30" align="right">手机号码：</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30">{{ student.phone }}</td>
        </tr>
       <tr>
        <td width="170" height="30" align="right">考试开始时间：</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30">{{ exam.exam_time }}</td>
        </tr>
      <tr>
        <td width="170" height="30" align="right">考试结束时间：</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30">{{ exam.exam_time_end }}</td>
        </tr>
      <tr>
        <td width="170" height="30" align="right">所选报名点：</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2" class="blue105">{{ place }}</td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">报名点地址：</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2" class="blue105">{{ place }}-教务处考试管理中心</td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">应缴纳费用额：</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2" class="blue105">￥{{ exam.fee }} (请自备零钞)</td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">报名缴费截止时间：</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2" class="red105"><span class="blue105">{{ exam.register_deadline }}（此截止时间为全省各报名点本考季的最晚截止时间，各报名点可能会有所提前，请注意下方“备注”栏，并尽早前往现场进行确认。）</span></td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">备注：</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2">{{ exam.notes }}</td>
      </tr>
    </tbody></table></td>
  </tr>
</tbody></table>



</body></html>