<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=GBK">
<title>詹才韬的数据库系统工程师考试报名表</title>
</head>

<body style="background-color:#FFF;">

<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td><table width="100%%" border="0" cellspacing="0" cellpadding="0" class="table_line1" style="border:1px #666 solid;">
      <tbody><tr>
        <td height="30" colspan="4" align="center"><strong class="black105">全国计算机技术与软件专业技术资格（水平）考试 报名表</strong></td>
      </tr>
      <tr>
        <td height="50" colspan="4" align="left" style="padding:10pt;">注：本报名表须统一使用<span class="red9">A4幅面</span>打印纸打印(自行打印，黑白彩色均可)。电子照片暂未提交或未被审核时也可缴费，但务必应在报考截止期前完成上传电子照片。</td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">网上报名号</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2" class="red105"><strong>0545 0419 6400 44</strong></td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">姓名</td>
        <td width="30" height="30">&nbsp;</td>
        <td width="270" height="30" class="blue105">詹才韬</td>
        <td width="130" rowspan="5" align="center">
  <img src="./詹才韬的数据库系统工程师考试报名表_files/387337759.jpg" width="100" height="150">
  </td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">性别</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30">男</td>
        </tr>
      <tr>
        <td width="170" height="30" align="right">证件类型及号码</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30">第二代居民身份证420111199505087310</td>
        </tr>
      <tr>
        <td width="170" height="30" align="right">手机号码</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30">18502718448</td>
        </tr>
      <tr>
        <td width="170" height="30" align="right">职业状态</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30">全日制在读学生</td>
        </tr>

      <tr>
        <td width="170" height="30" align="right">在读学校</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2">中国地质大学　计算机学院　191132</td>
      </tr>

      <tr>
        <td width="170" height="30" align="right">所选报名点</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2" class="blue105">中国地质大学</td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">报名点地址</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2" class="blue105">武昌中国地质大学教务处考试管理中心</td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">报名点联系方式</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2">027-67885011　王一波</td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">所报资格名称</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2" class="blue105">数据库系统工程师</td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">应缴纳费用额</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2" class="blue105">￥140(请自备零钞)</td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">现场确认及缴费截止时间</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2" class="red105"><span class="blue105">2016-4-18 17:00:00（此截止时间为全省各报名点本考季的最晚截止时间，各报名点可能会有所提前，请注意下方“备注”栏，并尽早前往现场进行确认。）</span></td>
      </tr>
      <tr>
        <td width="170" height="30" align="right">备注</td>
        <td width="30" height="30">&nbsp;</td>
        <td height="30" colspan="2">4月18、19日，上午8:30-11:30，下午14:00-16:30；地点：教务处考试管理中心</td>
      </tr>
    </tbody></table></td>
  </tr>
</tbody></table>



</body></html>